.profile__subtitle {
	margin: 9px 0 0 0;
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
}

@media screen and (max-width: 750px) {
	.profile__subtitle {
		text-align: center;
	}
}

@media screen and (max-width: 568px) {
	.profile__subtitle {
		font-size: 14px;
		line-height: 17px;
		margin-top: 10px;
	}
}
