.elements {
	margin: 50px 0 0 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
	gap: 20px 17px;
}

@media screen and (max-width: 984px) {
	.elements {
		margin-left: min(19px, 5%);
		margin-right: min(19px, 5%);
	}
}

@media screen and (max-width: 750px) {
	.elements {
		margin-top: 36px;
	}
}
