.element__description {
	margin: 21px auto 0 auto;
	display: flex;
	max-width: 246px;
	justify-content: space-between;
	box-sizing: border-box;
}

@media screen and (max-width: 984px) {
	.element__description {
		padding-left: 15px;
		padding-right: 15px;
	}
}
